*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: aqua;
}

.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.header{
 display: flex;
 background-color: aliceblue;
 grid-column: 1 / -1;
 justify-content: space-between;
 flex: 1;
 flex-wrap: wrap;
}
.menu{
 background-color: aquamarine;
 grid-column: 1 / -1;
 display: flex;
 justify-content: center;
 gap: 40px;
 

}

.content{
 background-color: beige;
 grid-column: 2 / -1;
}
.sidebar{
    background-color: bisque;
    grid-column: 1 / -1 ;
}
.footer{
    background-color: azure;
    grid-column: 1 / -1;
}
.img{
    background-color: blueviolet;
    grid-template-columns: 1 / 2;
}

.header .sub-header{
    display: flex;
    gap: 10px;
    position: relative;
    left: 500px;
   
}
.img #momo{
    height: 300px;
    width: 300px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 1500px;
    height: 500px;
    margin-top: 100px;
}